body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 725ms ease-in-out;
   
}
 
.fwh-slide {
    height: 100vh;
    background: dimgray;
    box-sizing: border-box; /* prevents overflow */
}

.fwh-slide--bg-gray {
    background: gray;
}

.fwh-slide--bg-darkgray {
    background: darkgray;
}

.fwh-slide--bg-silver {
    background: silver;
}

.fwh-slide--bg-lightgray {
    background: lightgray;
}

.fwh-slide p { /* targets all p tags in fwh-slide */
    font: verdana;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
 
p {
    margin-bottom: 1rem;
    color: black;
}

.container {
 position: fixed;
 margin: auto;
 padding: auto;
}

button {
    cursor: pointer;
    appearance: none;
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid navy;
    background-color: dodgerblue;
    color: white;
}


form {
   margin: 20px;
   padding: 20px;
}

/*  FOOTER  */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
 /* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Snapchat */
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* -- RESPONSIVE DEVICES --
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}



*\