body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 725ms ease-in-out;
   
}
 
.fwh-slide {
    height: 100vh;
    background: dimgray;
    box-sizing: border-box; /* prevents overflow */
}

.fwh-slide--bg-gray {
    background: gray;
}

.fwh-slide--bg-darkgray {
    background: darkgray;
    overflow: visible;
}

.fwh-slide--bg-silver {
    background: silver;
    overflow: visible;
}

.fwh-slide--bg-lightgray {
    background: lightgray;
}

.fwh-slide p { /* targets all p tags in fwh-slide */
    font: verdana;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    color: black;
}
 
p {
    margin-bottom: 1rem;
    color: black;
}

.content {
    margin: auto;
    padding: 30px;
    width: 600px;
    float: 33.33px;
    
}

.content iframe {
    margin: auto;
    padding: 30px;
    width: 500px;
    float: left;
}

.jumbotron jumbotron-fluid {
    margin: 0;
}

.img-fluid {
    float: center;
    
}

p .lead {
   color: dimgray;
   font-size: 50px;
}

button {
    cursor: pointer;
    appearance: none;
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid navy;
    background-color: dodgerblue;
    color: white;
}


form {
   margin: 20px;
   padding: 20px;
}

/*  FOOTER  */
.fa {
  padding: 30px;
  font-size: 50px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
 /* Instagram */
.fa-instagram {
  background: #430297;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Snapchat */
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* -- RESPONSIVE DEVICES --
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}



*\